/build
/build_release
scripts/build
scripts/deps
/CMakeLists.txt.user
/.idea
/src/backend/opencl/cl/cn/cryptonight_gen.cl
.vscode
/.qtcreator
/deps
/bin
*.exe
*.dll
*.log
*.bat
config_optimized.json
build_optimized.ps1
